<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 属性文件读入 -->
    <bean id = "PropertyPlaceholderConfigurerID" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="locations">
            <list>
                <value>classpath:path.properties</value>
                <value>classpath:jdbc.properties</value>
            </list>
        </property>
    </bean>

       <!-- 开启spring注释 -->
    <context:annotation-config/>
    <context:component-scan base-package="net.xinhong.oceanmonitor"/>

    <!-- 导入关联配置 -->
    <import resource="classpath:spring/spring-config-database-dbcp.xml"/>
    <import resource="classpath:spring/spring-config-redis.xml"/>

</beans>